@charset "utf-8";

html{overflow-y:scroll;}

/* ---------------------------------------------- Body Container ------------------------------------- */
/*
#container{width: 1000px; height: 800px; display:block; position:relative; margin-right: auto; margin-left: auto;}
*/

/* ---------------------------------------------- Body Infobar ------------------------------------- */

#infobar{width: 400px; display: flex; justify-content: space-between; padding: 0px; margin-right: auto; margin-left: auto; border: 1px solid black; color:green;}
#infobar div {width: 33.33%; text-align: center;}

/* ---------------------------------------------- Canvas ------------------------------------- */
/* #canvas_wrapper{text-align: center;} */
/* #canvas_wrapper  */
#myCanvas {display: block; margin-right: auto; margin-left: auto; border: 1px solid black;}


/* ---------------------------------------------- Start Page ------------------------------------- */

body{margin:0; padding:0; font-size:14px; font-family:Calibri; color:#1A4F6F; background-color:#1A4F6F;}

/* ---------------------------------------------- Body Container ------------------------------------- */
#container{width: 1000px; height: 500px; background-color: #FFFFFF; display:block; position:relative; margin: 100px auto;}
#container h1{text-align: center;}
#container p{text-align: center;}

/* ---------------------------------------------- Button Settings ------------------------------------- */
#button_wrapper{text-align: center;}
#button_wrapper ul{padding-left: 0px; list-style: none;}
#button_wrapper button{width: 200px; height: 50px; margin: 15px;}

/* ---------------------------------------------- RadioButton Settings ------------------------------------- */
#radioButton{text-align: center;}


/* ---------------------------------------------- Gameover Settings ------------------------------------- */
#endScreen{text-align: center;}